<div class="container">
  <h1>Scratch Portfolioとは？</h1>
  <p>Scratch Portfolioとは、scratchで製作した作品を紹介できるページがつくれるサイトです。
</br>新しくつくった作品を投稿することで、その作品を見られる作品ページをつくることができます。
</br></br>
作品投稿のページの作品No.にはscratchの作品のページのURL「https://scratch.mit.edu/projects/〇〇〇〇〇〇〇〇〇/」の
</br>〇〇〇〇〇〇〇〇〇の番号を入力してください。</p>
</div>
